.custom--alert {
    position: fixed;
    width: 22em;
    max-height: fit-content;
    // opacity: 0;
    cursor: pointer;
    border-radius: var(--main-border-radius);
    padding: 1em;
    box-shadow: 12px 14px 20px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    &:hover {
        opacity: 1!important;
        box-shadow: none;
    }

    &__icon {
        width: 24px;
    }

    // position
    &.top {
        top: 1em;
    }
    &.bottom {
        bottom: 1em;
    }
    &.left {
        left: 1em;
    }
    &.right {
        right: 1em;
    }

    // visibility
    &.right.show {
        animation: showAlertRight .4s forwards;
    }
    &.left.show {
        animation: showAlertLeft .4s forwards;
    }
    &.right.hide {
        animation: hideAlertRight .4s forwards;
    }
    &.left.hide {
        animation: hideAlertLeft .4s forwards;
    }

    // type
    &__success {
        background: #4CAF50;
        // color: #212121!important;
    }
    &__error {
        background: #BF360C;
    }
    &__warning {
        background: #FFB74D;
        color: #212121!important;
    }
    &__info {
        background: #424242;
    }
}