@import '../../../styles/_variables.css';

.custom--button {
    background: transparent;
    color: var(--main-font);
    font-size: inherit;
    border: 1px solid var(--color-light);
    border-radius: var(--main-border-radius);
    padding: 1em 2em;
    cursor: pointer;
    transition: all .5s ease;

    &__small {
        font-size: .808rem;
    }

    &__large {
        font-size: 1.12rem;
    }

    &__filled {
        background: var(--color-light);
        color: var(--main-font-inverted)
    }

    &__disabled {
        opacity: .4;
        cursor: default;
        border-color: #7f7f7f;
        color: #7f7f7f;
        background: #acacac;
    }

    &__icon {
        border: unset;
        background: unset;
        padding: 0;

        &:hover:not(.custom--button__disabled) {
            opacity: .6;
        }

        &.active svg {
            fill: var(--color-light);
        }
    }

    &:hover:not(&__icon):not(&__disabled) {
        transform: translateX(10px);
        opacity: .9;
    }
}
