.custom--select {
    position: relative;

    &__options {
        position: absolute;
        z-index: 999;

        &-list {
            background-color: var(--color-dark);
            box-shadow: 12px 14px 20px 0px rgba(0, 0, 0, 0.2);
            padding: .6em 0;
            border-radius: var(--main-border-radius);
            margin-top: 0.6em;
            transition: all .2s ease;

            &__small {
                font-size: .808rem;
            }
        
            &__large {
                font-size: 1.12rem;
            }

            &_item {
                padding: .4em 1em;
                cursor: pointer;
                transition: background-color .2s ease;

                &:hover:not(.empty) {
                    background-color: rgba(white, 0.2);
                }

                &.active {
                    background-color: rgba(white, 0.2);
                }

                &.empty {
                    cursor: default;
                    font-size: .8rem;
                }
            }
        }
    }
}