@import './_variables.css';

.custom--button {
    background: transparent;
    font-size: inherit;
    border: 1px solid var(--color-light);
    border-radius: var(--main-border-radius);
    padding: 1em 2em;
    cursor: pointer;
    transition: all .5s ease;

    &.small {
        font-size: .808rem;
    }

    &.large {
        font-size: 1.12rem;
    }

    &.filled {
        background: var(--color-light);
    }

    &:hover {
        transform: translateX(10px);
        opacity: .9;
    }
}

.custom--input {
    background: transparent;
    border: 1px solid var(--main-font);
    border-radius: var(--main-border-radius);
    width: 18em;
    height: 2em;
    padding: 2em;
    outline: none;

    &::placeholder {
        color: var(--main-font);
      }

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        height: 1em;
        width: 1em;
        cursor: pointer;
        background: url(../assets/icons/xmark-solid.svg) no-repeat 50% 50%;
        background-size: contain;
        transition: all .2s ease;
    }
}

.custom--select {
    position: relative;

    &__options {
        position: absolute;
        z-index: 999;

        &-list {
            background-color: var(--color-dark);
            box-shadow: 12px 14px 20px 0px rgba(0, 0, 0, 0.2);
            padding: .6em 0;
            border-radius: var(--main-border-radius);
            margin-top: 0.6em;
            transition: all .2s ease;

            &_item {
                padding: .4em 1em;
                cursor: pointer;
                transition: background-color .2s ease;

                &:hover:not(.empty) {
                    background-color: rgba(white, 0.2);
                }

                &.active {
                    background-color: rgba(white, 0.2);
                }

                &.empty {
                    cursor: default;
                    font-size: .8rem;
                }
            }
        }
    }
}

.custom--alert {
    position: fixed;
    width: 22em;
    // opacity: 0;
    cursor: pointer;
    border-radius: var(--main-border-radius);
    padding: 1em;
    box-shadow: 12px 14px 20px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    &:hover {
        opacity: 1!important;
        box-shadow: none;
    }

    &__icon {
        width: 24px;
    }

    // position
    &.top {
        top: 1em;
    }
    &.bottom {
        bottom: 1em;
    }
    &.left {
        left: -8em;
    }
    &.right {
        right: -8em;
    }

    // visibility
    &.right.show {
        animation: showAlertRight .4s forwards;
    }
    &.left.show {
        animation: showAlertLeft .4s forwards;
    }
    &.right.hide {
        animation: hideAlertRight .4s forwards;
    }
    &.left.hide {
        animation: hideAlertLeft .4s forwards;
    }

    // type
    &__success {
        background: #4CAF50;
        color: #212121!important;
    }
    &__error {
        background: #BF360C;
    }
    &__warning {
        background: #FFB74D;
        color: #212121!important;
    }
    &__info {
        background: #424242;
    }
}

.custom--avatar {
    height: 3em;
    width: 3em;
    background: var(--color-light);
    border-radius: var(--main-border-radius);
    opacity: .8;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom--details {
    border: 1px solid var(--main-font);
    padding: 1em;
    border-radius: 4px;
    width: 80%;

    &__title {
        display: inline-block;
    }

    &__summary {
        cursor: pointer;
        list-style: none;

        &:hover {
            opacity: .8;
        }
    }

    &__content {
        margin-top: 1em;
    }
}

/** Animation */
@keyframes showAlertLeft {
    to {
        opacity: .8;
        left: 1em;
    }
}

@keyframes showAlertRight {
    to {
        opacity: .8;
        right: 1em;
    }
}

@keyframes hideAlertLeft {
    to {
        opacity: 0;
        left: -28em;
    }
}

@keyframes hideAlertRight {
    to {
        opacity: 0;
        right: -28em;
    }
}
