/** FROM Mobile view */
@media (max-width: 624px) {
    .app {
        &--wrapper {
            padding: 2em;
        }
    }

    .header {
        margin-bottom: 2em;
    }

    .card:first-child {
        grid-column: 1/2;
    }
}

/** FOR Tablet view */
@media (min-width: 625px) and (max-width: 979px) {
}

/** FROM Tablet view */
@media (max-width: 979px) {
    .app {
        &--wrapper {
            padding: 2em;
        }
    }

    .header {
        &--nav { display: none!important }
        &--logo { display: none!important }
        &--burger { display: block!important }
        &--cube { display: block!important }
    }

    .aside { display: none!important }
}

/** Desktop view */
@media (min-width: 980px) {
    .app--wrapper {
        padding: 4em;
    }

    .card:first-child {
        grid-column: 1/3;
    }
}