:root {
    --color-light: #89253e;
    --color-dark: #3a6186;

    --main-font: lightgrey;
    --main-font-inverted: lightgrey;

    --main-border-radius: 4px;

    --break-point-mobile: 550px;
    --break-point-desktop: 551px;
}
