.aside--wrapper {
    width: 14em;
    position: sticky;
    top: 4em;
}

.aside--icons__icon {
    position: fixed;
    cursor: pointer;
    height: 24px;
    left: 100px;
    bottom: 80px;
    transition: fill .2s ease;
    transition: opacity .2s ease;
}

.aside--icons__icon.active {
    fill: #89253e;
}

.aside--icons__icon.none {
    width: 0!important;
}

.aside--icons__icon:hover {
    fill: #3a6186;
    opacity: .6;
}

.aside--cube {
    width: 4em;
    height: 4em;
    margin-left: 20px;
    color: #89253e;
    transform-style: preserve-3d;
    animation: 18s rotateCube infinite linear;
    user-select: none;
}

.aside--cube_side {
    position: absolute;
    width: 4em;
    height: 4em;
    left: 0;
    background: #3a6186;
    border: 1px solid #89253e;
    border-radius: 4px;
    color: lightgrey;
}

.aside--cube_side-back {
    transform: translateZ(-2em) rotateX(180deg);
}
.aside--cube_side-front {
    transform: translateZ(2em);
}
.aside--cube_side-top {
    transform: translateY(-2em) rotateX(90deg);
}
.aside--cube_side-bottom {
    transform: translateY(2em) rotateX(-90deg);
}
.aside--cube_side-left {
    transform: translateX(-2em) rotateY(-90deg);
}
.aside--cube_side-right {
    transform: translateX(2em) rotateY(90deg);
}

@keyframes rotateCube {
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

@keyframes rotateCubeSideStop {
    0% {
        transform: translateX(6em);
    }
    100% {
        transform: translateX(0) translateY(0) translateZ(0);
        width: 8em;
    }
}
