@import './variables';

.aside {
    &--wrapper {
        height: calc(100vh - 54px - 8em - 4em);
        width: 14em;
        position: sticky;
        top: 4em;
    }

    &--icons {
        &__icon {
            // position: fixed;
            cursor: pointer;
            height: 24px;
            bottom: 80px;
            transition: fill .2s ease;
            transition: opacity .2s ease;

            &.active {
                fill: var(--color-light);
            }
            
            &.none {
                width: 0!important;
            }
            
            &:hover {
                // fill: var(--color-dark);
                opacity: .6;
            }
        }
    }

    &--settings {
        bottom: -.6em;
        left: -1.4em;
        background-color: var(--color-dark);
        border-radius: 4px;
        padding: 2em 2em 2em 3em;
        z-index: -1;
        box-shadow: 12px 14px 20px 0px rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: all .2s ease;

        &__title {
            user-select: none;
        }

        &:hover {
            box-shadow: none;
        }

        &.active {
            opacity: 1;
            left: -.6em;
        }

        &__theme {
            padding: .2em;
            font-size: .8rem;
            cursor: pointer;
            transition: opacity .2s ease;

            &-color {
                display: inline-block;
                width: 1em;
                height: 1em;
                border-radius: 4px;
                margin-left: .28em;
                border: var(--color-light) solid 1px;
            }

            &:hover {
                opacity: .6;
            }
        }
    }

    /** Cube El. */
    &--cube {
        width: 4em;
        height: 4em;
        margin-left: 20px;
        color: var(--color-light);
        transform-style: preserve-3d;
        animation: 18s rotateCube infinite linear;
        user-select: none;

        &__side {
            position: absolute;
            width: 4em;
            height: 4em;
            left: 0;
            background: var(--color-dark);
            border: 1px solid var(--color-light);
            border-radius: 4px;
            color: var(--main-font);

            &-back {
                transform: translateZ(-2em) rotateX(180deg);
            }
            &-front {
                transform: translateZ(2em);
            }
            &-top {
                transform: translateY(-2em) rotateX(90deg);
            }
            &-bottom {
                transform: translateY(2em) rotateX(-90deg);
            }
            &-left {
                transform: translateX(-2em) rotateY(-90deg);
            }
            &-right {
                transform: translateX(2em) rotateY(90deg);
            }
        }
    }
}

/** Animation */
@keyframes rotateCube {
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}
@keyframes rotateCubeSideStop {
    0% {
        transform: translateX(6em);
    }
    100% {
        transform: translateX(0) translateY(0) translateZ(0);
        width: 8em;
    }
}
