@import './variables';
@import './animations';

.aside {
    &--wrapper {
        height: calc(100vh - 54px - 8em - 4em);
        width: 14em;
        position: sticky;
        top: 4em;
    }

    &--link {
        &__icon {
            height: 24px;
        }
    }

    &--icons {
        &__icon {
            height: 24px;
            bottom: 80px;

            &.active {
                fill: var(--color-light);
            }

            &.none {
                width: 0!important;
            }

            &.check-icon {
                width: 1.2em;
                margin-right: 0.2em;
            }
        }
    }

    /** Cube El. */
    &--cube {
        width: 4em;
        height: 4em;
        margin-left: 20px;
        color: var(--color-light);
        transform-style: preserve-3d;
        animation: 18s rotateCube infinite ease-in-out;
        user-select: none;

        &:hover {
            animation-play-state: paused;
        }

        &__side {
            position: absolute;
            width: 60px;
            height: 60px;
            font-size: 10px;
            left: 0;
            background: var(--color-dark);
            border: 1px solid var(--color-light);
            border-radius: var(--main-border-radius);
            color: var(--main-font);

            &-back {
                transform: translateZ(-32px) rotateX(180deg);
            }
            &-front {
                transform: translateZ(32px);
            }
            &-top {
                transform: translateY(-32px) rotateX(90deg);
            }
            &-bottom {
                transform: translateY(32px) rotateX(-90deg);
            }
            &-left {
                transform: translateX(-32px) rotateY(-90deg);
            }
            &-right {
                transform: translateX(32px) rotateY(90deg);
            }
        }
    }
}
