.card {
    border-radius: 4px;
    background: rgba(58, 97, 134, 1);
    box-shadow: 12px 14px 20px 0px rgba(0, 0, 0, .2);
    transition: all .3s ease;
}

.card--main {
    grid-column: 1/3;
    grid-row: 1/3;
}

.card:hover {
    box-shadow: none;
}

.card--wrapper__title {
    margin-bottom: 1.6em;
}

.card--wrapper__text {
    margin-bottom: 2em;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card--wrapper {
    padding: 2em;
}

.card--wrapper__button {
    background: transparent;
    font-size: inherit;
    border: 1px solid #89253e;
    border-radius: 4px;
    padding: 1em 2em;
    cursor: pointer;
    transition: all .5s ease;
}

.card--wrapper__button:hover {
    transform: translateX(10px);
    opacity: .9;
}

.card--wrapper__heart {
    height: 24px;
    cursor: pointer;
    fill: #3a6186;
    stroke: lightgrey;
}

.card--wrapper__heart.liked {
    fill: #89253e;
    stroke: none;
}

.card--wrapper__reference {
    margin-bottom: 2em;
    grid-template-columns: 1fr 1fr;
}

.card--wrapper__link:first-child {
    grid-row: 1/3;
}

.card--wrapper__reference-img {
    height: 14em;
    border-radius: 4px;
    transition: transform .2s ease;
}

.card--wrapper__reference-img:hover {
    transform: scale(.9);
}
