.card {
    border-radius: 4px;
    background: rgba(58, 97, 134, 1);
}

.card:hover > .card--wrapper {
    box-shadow: none;
}

.card--wrapper > h2 {
    margin-bottom: 1em;
}

.card--wrapper > p {
    margin-bottom: 4em;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card--wrapper {
    padding: 2em;
    box-shadow: 12px 14px 20px 0px rgba(0, 0, 0, .2);
    transition: all .3s ease;
}

.card--wrapper__button {
    border: 1px solid #89253e;
    border-radius: 4px;
    padding: 1em 2em;
    cursor: pointer;
    transition: all .5s ease;
}

.card--wrapper__button:hover {
    /* box-shadow: 6px 6px 14px 0px rgba(0, 0, 0, .2); */
    transform: translateX(10px);
    opacity: .9;
}
