.header {
    margin-bottom: 4em;
}

.header--search__input {
    background: transparent;
    border: 1px solid rgba(211,211,211, .6);
    border-radius: 4px;
    width: 18em;
    height: 2em;
    padding: 2em;
    outline: none;
}

.header--search__input::-webkit-search-cancel-button{
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    cursor: pointer;
    border-radius: 50em;
    background: url(../assets/icons/xmark-solid.svg) no-repeat 50% 50%;
    background-size: contain;
    transition: all .2s ease;
}

.header--menu__list-item {
    margin-right: 2em;
    cursor: pointer;
    transition: all .2s ease;
}

.header--menu__list-item:hover {
    color: #5889b7;
}

.header--icons__icon {
    cursor: pointer;
    height: 24px;
    margin-left: 8px;
    transition: fill .2s ease;
    transition: opacity .2s ease;
}

.header--icons__icon.active {
    fill: #89253e;
}

.header--icons__icon.none {
    width: 0!important;
}

.header--icons__icon:hover {
    fill: #89253e;
    opacity: .6;
}

.header--icons__icon:first-child {
    margin-left: 32px;
}

.header--icons__liked-count {
    transition: color .1s ease;
    user-select: none;
    width: 16px;
    height: 16px;
    display: inline-block;
}
