.service--refs {
    &__link {
        background-repeat: no-repeat;
        background-size: contain;
        transition: transform .3s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}