.custom--details {
    border: 2px solid var(--main-font);
    border-radius: 4px;
    width: 80%;

    &__title {
        display: inline-block;
    }

    &__summary {
        padding: 1em;
        cursor: pointer;
        list-style: none;

        &:hover {
            opacity: .8;
        }
    }

    &__content {
        margin: 0 1em 1em;
    }
}
