.case {
    max-height: fit-content;
    // max-height: 282px;
    border: 2px solid var(--main-font);
    border-radius: var(--main-border-radius);
    padding: 1.4em;

    &--header {
        margin-bottom: 2em;
    }

    &--delete {
        &__icon {
            width: 24px;
            cursor: pointer;
            transition: opacity .2s ease;

            &:hover {
                opacity: .6;
            }
        }
    }

    &--content {
        &__footer {
            grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
        }

        &__total {
            align-self: end;
        }

        &__download {
            justify-self: end;
        }
    }
}
