.service--refs {
    // &__link {}
    &__img {
        border-radius: var(--main-border-radius);
        transition: transform .2s ease;

        &:hover {
            transform: scale(.96);
        }
    }
}